{% extends 'layout.html' %}

{% block title %}Optimizely Notifications{% endblock %}

{% block head %}
  {% parent %}
  <!-- CSS/JS Files can go in the head here -->
{% endblock %}

{% block content %}
	<h1>Welcome, {{user.username}}! You're logged in!</h1>
	<br>
	<h3>Please select 3 of your active projects to monitor:</h3>
	<form method="POST" action="/thank_you">
		{% for project in projects %}
		{% if loop.first %}{% endif %}
		<input type="checkbox" name="project" value="" + {{}} +"">{{ project }}<br>
  		{% if loop.last %}{% endif %}
  		{% endfor %}
		

		<button type="submit" class="btn btn-lg btn-primary btn-block">Track</button>
	</form>
	<br>
	<form  method="GET" action="/signout">
		<button type="submit" class="btn btn-lg btn-primary btn-block">Log Out</button>
	</form>
{% endblock %}