{% extends 'layout.html' %}

{% block title %}Optimizely Notifications{% endblock %}

{% block head %}
  {% parent %}
  <!-- CSS/JS Files can go in the head here -->
{% endblock %}

{% block content %}
	<div id="container">
		<form action="/signup" method="POST">
			<input type="text" name="username" placeholder="E-mail" required="" autofocus="" class="form-control">
			<input type="password" name="password" placeholder="Password" required="" autofocus="" class="form-control">
			<input type="text" name="api_key" placeholder="API Key" required="" autofocus="" class="form-control">
			<button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
		</form>
	</div>
	{% if message %}
		{{ message }}
	{% endif %}
{% endblock %}